<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

</head>
<body>
<nav th:fragment="navbar" class="navbar sticky-top navbar-expand-lg " style="background-color: #000000; text-decoration: #ffffff">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand nav-link" th:href="@{/}">Michael Garrison - Full Stack Developer</a>

        <ul class="nav justify-content-center navbar-nav navbar-inner ml-auto">

            <li class="nav-item "><a class="nav-link" th:href="@{/}">Home</a></li>
            <li class="nav-item "><a class="nav-link" th:href="@{/portfolio}">Portfolio</a></li>
            <li class="nav-item "><a class="nav-link" th:href="@{/about}">About</a></li>
            <li class="nav-item "><a class="nav-link" th:href="@{/contact}">Contact</a></li>
        </ul>
    </div>
</nav>
</body>
</html>