<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<br>
<div class="container">
    <h2 class="text-center">About</h2>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="img/mg.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Michael Garrison</h5>
                            <a href="https://www.linkedin.com/in/michael-e-garrison/"><i class="fab fa-linkedin mr-2" style="font-size: larger"></i></a>
                            <a href="https://github.com/mgarrisonn"><i class="fab fa-github mr-2" style="font-size: larger"></i></a>
                            <a href="https://alumni.codeup.com/students/865"><i class="fas fa-graduation-cap mr-2" style="font-size: larger"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h5>Thank you for visiting my personal site. Please Contact me for more information.</h5>
        </div>
    </div>
</div>
</body>
</html>