<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container">
    <br>
    <br>
    <div class="card mb-3">
        <img src="img/shear-home.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Shear Up</h5>
            <p class="card-text">ShearUp is a full-stack application intended to facilitate a streamlined connection between barbers and clients. Built using MVC design pattern, Spring Boot with Spring Security, Thymeleaf, MySQL as well as integrating Mapbox, and Filestack APIs. ShearUp provides a sleek, sophisticated platform to revitalize an industry deeply impacted by the pandemic of 2020.</p>
            <p class="card-text"><a href="https://shear-up.com">shear-up.com</a></p>
        </div>
    </div>
</div>
</body>
</html>